<ion-content text-center>

   <ion-nav animated="true"></ion-nav>

   <p class="title">SORTER</p>
   <p class="sub-title">O QUE SORTEAR?</p>
   <ion-grid>
      <ion-row class="ion-justify-content-start">
         <ion-col size="2"></ion-col>
         <ion-col size="8">
            <ion-button expand="block" color="custom" size="large" (click)="numeroNavi()">NÚMEROS </ion-button>
         </ion-col>
         <ion-col size="2"></ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-start">
         <ion-col size="2"></ion-col>
         <ion-col size="8">
            <ion-button expand="block" color="custom" size="large" (click)="letraNavi()">LETRAS</ion-button>
         </ion-col>
         <ion-col size="2"></ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-start">
         <ion-col size="2"></ion-col>
         <ion-col size="8">
            <ion-button expand="block" color="custom" size="large" (click)="bingo()">BINGO </ion-button>
         </ion-col>
         <ion-col size="2"></ion-col>
      </ion-row>

   </ion-grid>

</ion-content>

<ion-footer text-center no-border>
   <p class="white-text">&copy; MOD-N Development</p>
</ion-footer>